

#quote-box{
  display:flex;
  justify-content:center;
  width:500px;
  border:red solid,2px;
  margin-left:auto;
  margin-right:auto; 
  margin-top:100px;

}

.quoteCSS{

  background:white;
  border:solid 1px;
  display: flex;
  flex-direction:column;
  padding:40px;
  align-self: center;
  
}


#text{
  font-size:24px;
  font-weight:bold;
}

#author{
  font-size:20px;
  color:black;
  text-align:right;
  padding-right:5px;

}


#new-quote{
       
     background-color: #EB783D;
     color: White;
     padding:10px;
     font-size:16px;
     cursor:pointer;
   /*  box-shadow:5px 5px 5px rgba(68, 68, 68, 0.6);*/
     border:none;
     opacity:1;
     float:right;
    
} 


#new-quote:hover{
  opacity:0.6;
}

.showEffect{
  
    animation: fadeOut 2s ;
    
}

@-webkit-keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;}
}

@keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;}
}

