@media only screen and  (max-width: 600px) {
  .quoteCSS{
    background:red;
    width:440px;
  }
  .input-section{
    width:100%;
  
}
}

@media only screen and  (max-width: 450px) {
  .quoteCSS{
    background:blue;
    width:350px;
  }
  .input-section{
    color:red;
   width:100%;
  
}
}
.App{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family:sans-serif;

}

/********
Nav 
*********/
.nav{
  margin: 25px 0 25px 0;
  cursor:pointer;
  font-size:24px;
  color:white; 
}
.nav:hover{
  color:black;
}

/**********************
Main page - Quote box 
**********************/
#quote-box{
  height:100vh;
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content:center;
  align-self: center;
  margin:0;
  padding:0; 
  width:100%;
}
.quoteCSS{
  display: flex;
  flex-direction:column;
  padding:40px;
  /*box-shadow: 2px,5px;*/
/*  align-items: center; */
  border:white 2px solid;
  box-shadow: inset 0 0 50px #FFFF;
  width:70%;
  max-width:600px;
}

#text{
  font-size:26px;
  text-align:center;
  line-height: 1.4;
}

#author{
  font-size:16px;
  color:black;
  text-align:center;
  padding-top:20px;

}

/******************************
Submit new quote section
*******************************/
.formPage{
  width:100%;
}
.formCSS{
  display:flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height:100vh;
}
.input-section{
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  width:70%;
  max-width:600px;
  margin:0 20px 0 20px;
  
}
.inputArea{
  color:gray;
   background-color:transparent;
   font-size:20px;
   border:white 2px solid;
   box-shadow: inset 0 0 30px #FFFF;
   padding:10px;
   margin:10px;
   width:100%;
}

.msg{
  color:gray;
  text-align:center;
  font-weight:bold;
}

/****************************************
Submit button - on Submit new quote page
*****************************************/
.btn-quote{
  cursor:pointer;
  background-color:transparent;
  padding:15px;
  margin:20px;
  border:none;
  box-shadow: inset 0 0 30px #FFFF;
  font-size:16px;
  text-align:center;
}

.btn-quote:hover{
  opacity:0.6;
}
.btn-quote :focus{
  outline:none;
}
/**************
Animation class
*****************/

.effect_fade{
  animation:fadeIn 2s;
  animation-timing-function: ease-in-out;

}

@keyframes fadeIn {
  0%   {opacity: 0; }s
  50%  {opacity: .5 ;}
  100% { opacity: 1; }
}
