.App{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

/********
Nav 
*********/

.nav{
  margin: 50px 0 50px 0;
  cursor:pointer;
  font-size:20px;
  text-align:center;
  color:white;
}
.nav:hover{
  text-decoration: underline;
  color:black;
}

/**********************
Main page - Quote box 
**********************/
#quote-box{
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content:center;
  width:500px;
  /*margin-left:auto;
  margin-right:auto; */
}
.quoteCSS{
  border:solid 1px white;
  display: flex;
  flex-direction:column;
  padding:40px;
  box-shadow: 2px,5px;
  align-self: center; 
  box-shadow: inset 0 0 30px #FFFF;
}

#text{
  font-size:24px;
  text-align:center;
  line-height: 1.4;
  font-family:'';
}

#author{
  font-size:16px;
  color:black;
  text-align:center;
  padding-top:20px;

}

/******************************
Submit new quote section
*******************************/
.formCSS{
  display:flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.input-section{
  display:flex;
  flex-direction:column;
}
.inputArea{
   background-color:transparent;
   font-size:20px;
   border:white 1px solid;
   width:500px;
   box-shadow: inset 0 0 30px #FFFF;
}
label{
  font-size:16px;
  padding:10px 0 10px 0;
}




/****************************************
Submit button - on Submit new quote page
*****************************************/
.btn-quote{
  width:100px;
  background-color:transparent;
  padding:10px;
  margin:20px;
  border:none;
  box-shadow: inset 0 0 30px #FFFF;
  font-size:14px;
}

.btn-quote:hover{
  opacity:0.6;
}

